.bg-primary {
	background-color: #05668d !important ;
}
.bg-success {
	background-color: #028090 !important;
}
.bg-warning {
	background-color: #00a896 !important;
}
.bg-danger {
	background-color: #02c39a !important;
}

#header img {
	width: 100%;
	height: 100%;
}

.footer i {
	font-size: 24px !important;
    margin: 0 10px;
}
.bg-black {
	background-color: #000;
}
text-black {
	color: #000;
}
.port-item {
	width: 25%;
	cursor: pointer;
}
.port-item:hover {
	opacity: 0.8;
}
.fa-facebook:hover {
	color: #3b5998;
}
.fa-instagram:hover {
	color: #c32aa3;
}
.fa-twitter:hover {
	color: #1da1f2;
}
.fa-github:hover {
	color: #db4437;
}
.main {
	position: relative;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.main:hover .overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	opacity: 0.1;
	width: 100%;
	height: 100%;
	z-index: 100;
	color: white;
	font-size: 20px;
	/* text-transform: uppercase; */
	font-weight: bold;
}

@media only screen and (min-width: 0px) and (max-width: 770px) {
	.port-item {
		padding: 10px 10px !important;
	}

	#home.card {
		padding: 10px 10px !important;
	}
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-25 22:44:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
.skill-card {
	transition: 0.2s all ease-in;
    /* margin: 0 px; */
}
.skill-image {
	transition: 0.2s all ease-in;
}
.skill-card:hover .skill-image {
	transform: translateY(-5px);
	transition: 0.2s all ease-in;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-25 22:53:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
